body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

/*Elementos generales*/
.h3--morado{
	color: #6155B2;
	font-weight: bold;
	font-size: 1.2rem;
}

.btn--amarillo{
	background-color: #FFE877;
	color: #6155B2;
}

/*Header*/
.header{
	background-color: #6155B2;
	color: #FFFFFF;
}

.header__img{
	max-width: 150px;
}

.btn--amarillo:hover{
	background-color: #F0D967;
	color: #52479D;
}

.btn--amarillo a{
	text-decoration: none;
	color: #6155B2;
}

/*Columnas*/
.columnas{
	color:#6F6F6F;

}

/*Escribir Tuit*/
.custom-file-input ~ .custom-file-label::after {
  content: "Cargar";
}

.seccionEscribirTuit__img{
	max-width: 150px;
}

.seccionEscribirTuit{
	background-color: #F8F8F8;
	border-radius: 10px;
}

.seccionEscribirTuit__alerta{
	display: none;
}

/*Leer tuit*/
.seccionLeerTuit{
	background-color: #F8F8F8;
	border-radius: 10px;
}

.seccionLeerTuit--tuit:hover .listaTuits__cerrarTuit{
	opacity:1;
}

.seccionLeerTuit--avatar{
	max-width: 150px;
}

.seccionLeerTuit--tuit{
	background-color: #FFFFFF;
	border-radius: 10px;
}

.listaTuits__cerrarTuit{
	color: #D34040;
	cursor:pointer;
	opacity:0;
	transition: opacity 0.5s;
}

.seccionLeerTuit--heart{
	color: #6155B2;
	cursor: pointer;
}
/*Footer*/
.footer{
	background-color: #6155B2;
	color: #FFFFFF;
}